body {
    background-color: black;
}

header {
    padding: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 80px;
    background-color:rgba(255, 0, 0, 0.288);
    border: 1px solid black;
    padding: 20px;
    color: white;
}

h2 {
    font-size: 40px;
    background-color:rgba(137, 43, 226, 0.223);
    color: black;
    padding: 10px;
    border: 1px solid black;
}

p {
    font-size: 25px;
    padding: 10px;
}

button {
    border: 6px double black;
    background-color: red;
    padding: 15px 100px;
    font-size: 30px;
    color: white;
    margin: 5px;
}

button::hover {
    color: purple;
    background-color: pink;
}

main {
    border: 5px double black;
    margin: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

#button {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 20px;
    background-color: black;
}